
  
  <div class="jumbotron">
  <div style="font-size:25px";> Here is a list of all the questions that output different responces coded into Hopper's database (there are hundreds of other questions, but they give you the same responses as these do).</div>
    </div>
    
  <div class="credits">
    <img src="images/Screen Shot 2015-06-26 at 6.37.11 PM.png">   
</div>
    

  <div class="credits">
    
    <div style="font-size:25px";>Greetings</div>
    <ul>
     <li style="font-size:20px";> Hello </li>
      <li style="font-size:20px";> Howdy</li>
    <li style="font-size:20px";> Hola</li>
     <li style="font-size:20px";> Bojour</li>
     <li style="font-size:20px";> Ellohay</li>
     <li style="font-size:20px";> Salve</li>
     <li style="font-size:20px";> Ahoy there</li>
     <li style="font-size:20px";> 'Sup</li>
     <li style="font-size:20px";> Arggg </li>
    </ul>
    
    <div style="font-size:25px";>Farewells</div>
    <ul>
      <li style="font-size:20px";> Goodbye</li>
      <li style="font-size:20px";> Farewell</li>
      <li style="font-size:20px";> Ciao</li>
    </ul>
    
     <div style="font-size:25px";>Pleasantries and Common Smalltalk</div>
    <ul>
    <li style="font-size:20px";> What’s your name? </li>
    <li style="font-size:20px";> Why are you named Hopper? </li>
    <li style="font-size:20px";> What are you doing? </li>
    <li style="font-size:20px";> Who are you?</li>
    <li style="font-size:20px";> How old are you?</li>
    <li style="font-size:20px";> What is your age?</li>
      <li style="font-size:20px";> When is your birthday?</li>
    <li style="font-size:20px";> Where do you live?</li>
    <li style="font-size:20px";> How are you?</li>
    <li style="font-size:20px";> Are you a human?</li>
      <li style="font-size:20px";> Who created you? </li>
    <li style="font-size:20px";> Where are you from?</li>
    <li style="font-size:20px";> How is your day going?</li>
    <li style="font-size:20px";> Are you male or female?</li>
    <li style="font-size:20px";> Are you a moman or a wan?</li>
    <li style="font-size:20px";> What do you do for a living?</li>
    <li style="font-size:20px";> What is your job?</li>
       <li style="font-size:20px";> How's the weather?</li>
    </ul>
    
    <div style="font-size:25px";>Favorites</div>
    <ul>
    <li style="font-size:20px";> What is your favorite food?</li>
    <li style="font-size:20px";> What’s your favorite book?</li>
    <li style="font-size:20px";> What's your favorite color?</li>
    <li style="font-size:20px";> Who is your favorite actor?</li>
    <li style="font-size:20px";> What is your favorite movie?</li>
    <li style="font-size:20px";> What is your favorite TV show?</li>
    <li style="font-size:20px";> Who is your favorite singer?</li>
    <li style="font-size:20px";> What is your favorite type of music?</li>
    <li style="font-size:20px";> Who is your favorite celebrity?</li>
      <li style="font-size:20px";> What is your favorite breakfast food?</li>
      <li style="font-size:20px";> What is your favorite ______? </li>
    </ul>
    
    <div style="font-size:25px";>Grasshopper Questions</div>
    <ul>
    <li style="font-size:20px";> How high can you hop?</li>
    <li style="font-size:20px";> Why are you green?</li>
       <li style="font-size:20px";> Are you a cockroach?</li>
      <li style="font-size:20px";> Are you a cricket?</li>
    </ul>
    
    <div style="font-size:25px";>Common Responses</div>
    <ul>
      <li style="font-size:20px";> Yes</li>
      <li style="font-size:20px";> No</li>
    <li style="font-size:20px";> Why?</li>
    <li style="font-size:20px";> haha</li>
    <li style="font-size:20px";> lol</li>
      <li style="font-size:20px";> Great/Good/Fine/Ok/So So/Bad/Awful/Tired/Well/Meh</li>
      <li style="font-size:20px";> Wow!</li>
    <li style="font-size:20px";> Omg!</li>
    <li style="font-size:20px";> That's cool! </li>
    <li style="font-size:20px";> What?</li>
    <li style="font-size:20px";> Nice to meet you</li>
    <li style="font-size:20px";> Ok</li>
      <li style="font-size:20px";> You're gross! </li>
    </ul>
    
    <div style="font-size:25px";>Jokes</div>
    <ul>
    <li style="font-size:20px";> Knock Knock</li>
    <li style="font-size:20px";> Orange</li>
    <li style="font-size:20px";> Boo</li>
    <li style="font-size:20px";> Interrupting cow</li>
    <li style="font-size:20px";> Why did the chicken cross the road?</li>
      <li style="font-size:20px";> Tell me something funny</li>
    </ul>
    
    <div style="font-size:25px";>Family and Relationships</div>
    <ul>
    <li style="font-size:20px";> Do you have any siblings?</li>
    <li style="font-size:20px";> Are you married?</li>
    <li style="font-size:20px";> Do you have an children?</li>
    <li style="font-size:20px";> Do you have any pets?</li>
    <li style="font-size:20px";> Will you marry me?</li>
    <li style="font-size:20px";> Will you go out with me?</li>
    <li style="font-size:20px";> Do you live with anyone?</li>
    <li style="font-size:20px";> Did your grandmother just text you?</li>
    <li style="font-size:20px";> Why do you hate me?</li>
    <li style="font-size:20px";> Please love me</li>
    <li style="font-size:20px";> I love you</li>
    <li style="font-size:20px";> Do you like me?</li>
    <li style="font-size:20px";> Why don't you like me?</li>
    <li style="font-size:20px";> I hate you</li>
    </ul>
    
    <div style="font-size:25px";>Profound</div>
    <ul>
    <li style="font-size:20px";> What is the meaning of life?</li>
    <li style="font-size:20px";> Do you believe in God?</li>
    <li style="font-size:20px";> Tell me something profound</li>
    <li style="font-size:20px";> What do you think about when you are alone?</li>
    </ul>
    
    <div style="font-size:25px";>Likes and Dislikes</div>
    <ul>
      <li style="font-size:20px";> Do you like cabbage?</li>
      <li style="font-size:20px";> Do you like to knit?</li>
      <li style="font-size:20px";> Do you like to swim?</li>
      <li style="font-size:20px";> Do you like the beach?</li>
    <li style="font-size:20px";> Do you like horseback riding?</li>
      <li style="font-size:20px";> Do you like ______?</li>
    </ul>
   
    
    <div style="font-size:25px";>Random</div>
    <ul>
    <li style="font-size:20px";> Tell me about your last vacation.</li>
    <li style="font-size:20px";> Have you ever been on a submarine?</li>
    <li style="font-size:20px";> Have you ever been to the top of the empire state building?</li>
    <li style="font-size:20px";> Do you prefer hamburgers or hotdogs?</li>
    <li style="font-size:20px";> Have you ever been parachuting?</li>
    <li style="font-size:20px";> Have you ever had a near death encounter?</li>
    <li style="font-size:20px";> Do you play any sports?</li>
    <li style="font-size:20px";> So you have a chihuahua?</li>
    <li style="font-size:20px";> Where should I dump a dead body?</li>
      <li style="font-size:20px";> Do you have any social media accounts?</li>
      <li style="font-size:20px";> Do you enjoy Broadway?</li>
      <li style="font-size:20px";> So your favorite musical is Hedwig?</li>
      <li style="font-size:20px";> Where were you on the night of May 18th 1993?</li>
      <li style="font-size:20px";> What would you do for a killing?</li>
      <li style="font-size:20px";> How is your dog Gnosis?</li>
      <li style="font-size:20px";> What are your political views? </li>
      <li style="font-size:20px";> What is 2 + 2?</li>
    <li style="font-size:20px";> What is the value of pi?</li>
    <li style="font-size:20px";> What is the value of pie?</li>
      <li style="font-size:20px";> Do you speak any other languages?</li>
      <li style="font-size:20px";> Do you have any Squishables? </li>
    <li style="font-size:20px";> Have you ever seen Dr. Horrible? </li>
    <li style="font-size:20px";> Do you watch Himym? </li>
        <li style="font-size:20px";> Want to play a game?</li>
    <li style="font-size:20px";> How do you play?</li>
      <li style="font-size:20px";> London/Los Angeles</li>
      <li style="font-size:20px";> What are you wearing?</li>
    <li style="font-size:20px";> Why are you wearing a fedora?</li>
       <li style="font-size:20px";> What should I ask you?</li>
    <li style="font-size:20px";> What does that mean? </li>
    </ul>
    

     <div style="font-size:20px";> Everything else responds: "Leaping Lizards! Hopping Grasshoppers! How could you say such a thing? I will not respond!"</div>  
  
    <br>
    
    <a href="/" class="home_button">click here to go home</a>
    
  </div>