<div class="credits">
  
  <div class="jumbotron">
  <p> all individual images are from google and then photoshopped </p>
  </div>
    
  <ul>
  <li style="font-size:10px";> 
    grasshopper - http://cupegraf.com/427363-grasshopper.html </li>
<li style="font-size:10px";> fedora - http://ecx.images-amazon.com/images/I/61pw%2BkIuPgL._UL1500_.jpg </li>
    <li style="font-size:10px";> beach - http://p1.pichost.me/i/14/1369106.jpg </li>
    <li style="font-size:10px";> drink - http://www.zikwid.com/assets/images/pina-colada.jpg </li>
<li style="font-size:10px";> sunglasses - http://i.huffpost.com/gen/1322258/images/o-SUNGLASSES-facebook.jpg </li>
<li style="font-size:10px";> eiffel tower - http://whattoseein.net/wp-content/uploads/2015/03/TheEiffelTower.4.jpg </li>
<li style="font-size:10px";> mount everest - http://snowbrains.com/wp-content/uploads/2013/08/mount-everest-1.jpg </li>
<li style="font-size:10px";> baguet - http://www.beautynewsnyc.com/home/wp-content/uploads/2010/10/Baguette1.jpg </li>
<li style="font-size:10px";> buret - http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=244987 </li>
<li style="font-size:10px";> hedwig image - http://static01.nyt.com/images/2014/06/08/theater/08TONYS-live-hp-ss-slide-AF6V/08TONYS-live-hp-ss-slide-AF6V-master675.jpg </li>
    <li style="font-size:10px";> frame - https://eagereyes.org/media/2010/empty-frame.jpg </li>
<li style="font-size:10px";> bows 1 https://hearraeroar.files.wordpress.com/2012/02/pretty-pink-bow.jpg 2  http://cdn2.bigcommerce.com/server3100/60595/products/341/images/946/Yellow_Ribbon__59957.1405340080.1280.1280.jpg?c=2  3 http://ak1.polyvoreimg.com/cgi/img-thing/size/l/tid/71051263.jpg </li>
<li style="font-size:10px";> baseball cap http://www.stylegirlfriend.com/wp-content/uploads/2011/07/hat.jpg </li>
<li style="font-size:10px";> grandma glasses http://www.bespecd.com.au/media/catalog/product/cache/1/image/1200x550/c96a280f94e22e3ee3823dd0a1a87606/b/e/bespecd-optical-glasses-nara-rose-pink-front.jpg </li>
<li style="font-size:10px";> grandma hair  http://rcdn-4.fishpond.co.nz/0020/176/006/19577266/6.jpeg </li>
<li style="font-size:10px";> mustache https://tribwxmi.files.wordpress.com/2013/05/mustache-web.jpeg </li>
<li style="font-size:10px";> mother glasses http://3dmnation.com/wp-content/uploads/2013/11/orange-diffraction-glasses-1.jpg </li>
<li style="font-size:10px";> chiwawa https://fs01.androidpit.info/a/54/29/cute-chiwawa-542997-h900.jpg </li>
    <li style="font-size:10px";> parachute  http://images.fineartamerica.com/images-medium-large/red-parachute-radoslav-nedelchev.jpg</li>
    <li style="font-size:10px";> snorkel http://ecx.images-amazon.com/images/I/81zLZZAUzxL._SL1500_.jpg</li>
    <li style="font-size:10px";> underwater http://www.wallpedes.com/underwater-wallpaper/backgrounds-for-gt-underwater-fish-wallpaper.html</li>
    <li style="font-size:10px";> snake http://globe-views.com/dcim/dreams/snake/snake-06.jpg</li>
    
  </p>
  </ul>
  
</div>