<div class="content">
  
  <h1>Pig Latin Translator</h1>

  <form action="/result" method="POST">
    <label>Enter the text you'd like to translate</label>
    <br>
    <input type="text" name="user-input-amount-to-kill">
    
    
    <input type="checkbox" value = "Revenge" name="user-input-motive">
    <input type="checkbox" value = "World Domination" name="user-input-motive">
    <input type="checkbox" value = "Inheritance" name="user-input-motive">
    <input type="checkbox" value = "Maintain a secret" name="user-input-motive">
    <input type="checkbox" value = "To save my own life" name="user-input-motive">
    <input type="checkbox" value = "Entertainment" name="user-input-motive">
    <input type="checkbox" value = "Government Order" name="user-input-motive">
    
    <input type="radio" value = "Rural" name="user-input-location">
    <input type="radio" value = "Urban" name="user-input-location">
    
    <input type="checkbox" value = "Family" name="user-input-relation">
    <input type="checkbox" value = "Friend" name="user-input-relation">
    <input type="checkbox" value = "Enemy" name="user-input-relation">
    <input type="checkbox" value = "Boss/Ruler" name="user-input-relation">
    <input type="checkbox" value = "Political Figure/International Superstar" name="user-input-relation">
    <input type="checkbox" value = "Random" name="user-input-relation">
    
    <button value=submit>Translate!</button>
  </form>

</div>
