<!DOCTYPE html>
<html>
  
	<head>
    <link href="style.css" rel="stylesheet" type="text/css">
		<title>Your Grace, Hopper</title>
    <link rel="icon" type="image/png" href="http://animalia-life.com/data_images/grasshopper/grasshopper2.jpg">
	</head>
  
	<body>
		<div class="container">
		  <p><%= yield %></p>
	  </div>
	</body>
  
</html>