<!DOCTYPE html>
<html>
	<head>
    <link href="style.css" rel="stylesheet" type="text/css">
		<title>Pig Latin Translator</title>
	</head>
	<body>
		<div class="container">
		  <p><%= yield %></p>
	  </div>
	</body>
</html>