<div class="content">
  <br>
  <br>
  
  <div class="jumbotron" id="jumbotron_top">
  <div style="font-size:60px";> Talk to Hopper!</div>
  <div style="font-size:50px";>Hi, I'm Hopper! Ask me anything!</div>
    <div style="font-size:20px" id="see_below_quote"> (go to the home page for a few fun suggestions)</div>
  </div>
  
  <div class="jumbotron" id="jumbotron_bottom">
  <img src="http://i66.tinypic.com/2djupsp.jpg" width="500px">

  <form action="/start_conversation" method="POST">
    <label>Talk to me here:</label>
    <input type="text" name="user_input" id="black-text">
    <button value="submit" id="black-text">Talk!</button>
  </form>
</div>
    
</div>

<div class="hopper_response">
  
  <div class="results">
    <br>
    <div style="font-size:30px";><%= @hoppers_response %></div>
    
    <% if @images%>
    <% @images.each do |image| %>
    <img src="<%= image %>">
    <% end %>
    <%end%>
    
  </div>
  
  <br>
  
  <div>
    <div style="font-size:20px"; class="home_button">(Go home to view suggestions on what to say to Hopper)</div>
    <a href="/" class="home_button">click here to go home</a>

</div>
