<div class="content">
  
  
  <div style="font-size:80px";> Talk to Hopper!</div>
  <div style="font-size:50px";>Hi, I'm Hopper! Ask me anything!</div>
  
  <img src="https://raw.githubusercontent.com/kthffmn/grace-hopper/master/normal_hopper.png" width="500px">

  <form action="/start_conversation" method="POST">
    <label>Talk to me here:</label>
    <input type="text" name="user_input">
    <button value=submit>Talk!</button>
  </form>

</div>

<div class="hopper_response">
  
  <div class="results">
    <br>
    <div style="font-size:30px";><%= @hoppers_response %></div>
    
    <% if @images%>
    <% @images.each do |image| %>
    <img src="<%= image %>">
    <% end %>
    <%end%>
    
  </div>
  
  <br>
  
  <div>
    
    <a href="/" class="home_button">click here to go home</a>

</div>