@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
  color: #FFFFFF;
  background: #330066;  
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2em;
}

#black-text {
  color:black;
}

.content {
  text-align: center;
}

.content2 {
  text-align: left;
}

.home_button {
  color: #FFFFFF;
}

.hopper_response {
  color: #FF0000;
  text-align: center;
}

.credits_link {
  text-align: right;
}

.credits {
  text-align: left;
}

.jumbotron {
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #483D8B;
}

#jumbotron_top {
  height: 250px;
  margin-top: -50px;
  padding: 20px;
}

#jumbotron_bottom {
  height: 460px;
  padding: 10px;
}
